<div class="row">
  <div class="col-3">
    <label>Nombre:</label>
  </div>
  <div class="col-9">
    <input type="text" [(ngModel)]="userT.name">
  </div>
</div>
<div class="row">
  <div class="col-3">
    <label>Apellido:</label>
  </div>
  <div class="col-9">
    <input type="text" id="apellido" [(ngModel)]="userT.lastname">
  </div>
</div>
<div class="row">
  <div class="col-3">
    <label>Correo:</label>
  </div>
  <div class="col-9">
    <input type="text" id="correo" [(ngModel)]="userT.email">
  </div>
</div>
<div class="row">
  <div class="col-3">
    <label>Telefono:</label>
  </div>
  <div class="col-9">
    <input type="text" id="telefono" [(ngModel)]="userT.phonenumber">
  </div>
</div>
<div class="row">
  <div class="col-3">
    <label>Direccion:</label>
  </div>
  <div class="col-9">
    <input type="text" id="direccion" [(ngModel)]="userT.direction">
  </div>
</div>
<div>
  <button (click)="updateUser()">Editar</button>
  <button (click)="createUser()">Crear</button>
  <button (click)="deleteUser()">Eliminar</button>
  <button (click)="getUser()">Consultar</button>
</div>
<router-outlet></router-outlet>